include README.md AUTHORS LICENSE requirements.txt
include *.html
include templates/*.html
include templates/*.xml
include inkblock/templates/*.html
include inkblock/templates/*.xml
include *.md
include *.py
